<div class="container cakeday">
  <ul class="nav-pills">
    {{#if cakedayEnabled}}
      <li class="nav-item-anniversaries">
        {{#link-to "cakeday.anniversaries"}}
          {{i18n "anniversaries.title"}}
        {{/link-to}}
      </li>
    {{/if}}

    {{#if birthdayEnabled}}
      <li class="nav-item-birthdays">
        {{#link-to "cakeday.birthdays"}}
          {{i18n "birthdays.title"}}
        {{/link-to}}
      </li>
    {{/if}}
  </ul>

  {{outlet}}
</div>