<ul class="user-info-list">
  {{#each users as |user|}}

    <li class="user-info-item">
      {{#user-info user=user}}
        <div>{{user.cakeday_date}}</div>
      {{/user-info}}
    </li>
  {{else}}
    <div class="user-info-empty-message"><h4>{{yield}}</h4></div>
  {{/each}}
</ul>
