.cakeday {
  .nav-pills {
    margin-bottom: 25px;
  }

  .cakeday-months {
    .cakeday-header {
      display: inline-block;
    }
  }

  .cakeday-header {
    margin-bottom: 30px;
  }

  .cakeday-title {
    margin: 20px 0;
  }

  .user-info.small {
    min-height: 60px;
  }

  ul.user-info-list {
    list-style-type: none;
    margin: 0px;

    li {
      display: inline;
    }

    .user-info-empty-message {
      color: $primary-high;
      padding-bottom: 30px;
    }
  }
}
