{{#if siteSettings.enable_emoji}}
  <div title={{titleText}}>
    {{#each emojiHTML as |html|}}
      {{html-safe html}}
    {{/each}}
  </div>
{{else}}
  {{d-icon "birthday-cake" title=titleText}}
{{/if}}