{{#if siteSettings.cakeday_birthday_enabled}}
  <label class="control-label">{{i18n 'user.date_of_birth.title'}}</label>
  <div class="controls">
    {{combo-box content=months
                value=userBirthdayMonth
                valueAttribute="value"
                none="birthdays.none"}}

    {{combo-box content=days
                value=userBirthdayDay
                valueAttribute="value"
                none="birthdays.none"}}
  </div>
{{/if}}
