{{#if siteSettings.cakeday_birthday_enabled}}
  <label class="control-label">{{i18n 'user.date_of_birth.title'}}</label>
  <div class="controls">
    {{cakeday-date-picker value=model.custom_fields.date_of_birth}}
  </div>
{{/if}}
